.song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__cover {
    max-width: 50px;
    max-height: 50px;
  }
  &__info {
    margin: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    font-size: 14px;
    display: block;
    font-weight: 700;
    color: #fff;
  }
  &__artist {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #8D8D8D;
  }
  &__album {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #8D8D8D;
  }
  &__duration {
    font-size: 14px;
    display: block;
    font-weight: 500;
    color: #8D8D8D;
  }
}

@media screen and (max-width: 720px) {
  .song {
    max-width: 40px;
    max-height: 40px;
    &__name {
      font-size: 12px;
    }
    &__artist {
      font-size: 12px;
    }
  }
}