.song {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}
.song__wrapper {
  display: flex;
  flex-direction: row;
}
.song__cover {
  max-width: 50px;
  max-height: 50px;
}
.song__info {
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.song__name {
  font-size: 14px;
  display: block;
  font-weight: 700;
  color: #fff;
}
.song__artist {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}
.song__album {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}
.song__duration {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}