.song {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 100%;
}
.song__wrapper {
  display: flex;
  flex-direction: row;
}
.song__cover {
  max-width: 50px;
  max-height: 50px;
}
.song__info {
  margin: 0 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.song__name {
  font-size: 14px;
  display: block;
  font-weight: 700;
  color: #fff;
}
.song__artist {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}
.song__album {
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}
.song__duration {
  align-self: flex-end;
  font-size: 14px;
  display: block;
  font-weight: 500;
  color: #8D8D8D;
}

@media screen and (max-width: 720px) {
  .song {
    max-width: 40px;
    max-height: 40px;
  }
  .song__name {
    font-size: 12px;
  }
  .song__artist {
    font-size: 12px;
  }
}