.playlist {
  position: relative;
  bottom: 0;
  margin: auto;
  padding: 40px 25px;
  display: block;
  box-sizing: border-box;

  max-width: 1024px;
  min-width: 320px;
  min-height: fit-content;
  width: 100%;

  background: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(18,18,18,1) 25%);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  &__info-wrapper {
    display: flex;
    flex-direction: row;
  }
  &__cover {
    max-width: 150px;
    max-height: 150px;
  }
  &__info {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title {
    display: block;
    font-weight: 900;
    font-size: 50px;
  }
  &__description {
    display: block;
    font-weight: 400;
    font-size: 16px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    padding: 0 20px 0 0;
    max-height: 500px;
    overflow: hidden scroll;

    text-decoration: none;
    list-style: none;

    gap: 20px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 5px;
      background: #212121;
      border-radius: 5px;
    }
  }
}
