.playlist {
  position: relative;
  display: grid;
  grid-template-rows: min-content minmax(550px/1fr);
  bottom: 0;
  margin: 0 auto;
  padding: 40px 25px;
  box-sizing: border-box;
  max-width: 1024px;
  min-width: 320px;
  width: 100%;
  background: #212121;
  background: linear-gradient(180deg, #212121 0%, #121212 25%);
  border-radius: 10px 10px 0px 0px;
}
.playlist__info-wrapper {
  display: flex;
  flex-direction: row;
}
.playlist__cover {
  max-width: 150px;
  max-height: 150px;
}
.playlist__info {
  margin: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100%;
}
.playlist__title {
  display: block;
  font-weight: 900;
  font-size: 50px;
}
.playlist__description {
  display: block;
  font-weight: 400;
  font-size: 16px;
}
.playlist__list {
  display: flex;
  visibility: collapse;
  opacity: 0;
  flex-direction: column;
  margin: 40px 0 0 0;
  padding: 0 20px 0 0;
  max-height: 1px;
  overflow: hidden scroll;
  text-decoration: none;
  list-style: none;
  gap: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.playlist__list::-webkit-scrollbar {
  width: 5px;
}
.playlist__list::-webkit-scrollbar-track {
  background: transparent;
}
.playlist__list::-webkit-scrollbar-thumb {
  width: 5px;
  background: #212121;
  border-radius: 5px;
}
.playlist__list_active {
  visibility: visible;
  opacity: 1;
  max-height: 550px;
}

@media screen and (max-width: 720px) {
  .playlist {
    padding: 10px 10px;
  }
  .playlist__cover {
    max-width: 64px;
    max-height: 64px;
  }
  .playlist__title {
    font-size: 20px;
  }
  .playlist__description {
    font-size: 12px;
  }
  .playlist__list {
    margin: 20px 0 0 0;
    padding: 0 5px 0 0;
  }
}