.header {
  display: block;
  position: relative;
  min-width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(320px / 1024px) 1fr;
}

.logo {
  max-width: 150px;
  background-image: url('../../images/logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 165px;
}