.footer {
  margin: 0;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 100%;
  min-height: 25px;
  box-sizing: border-box;
  &__text {
    margin: 0;
    padding: 0;

    font-size: 0.7em;
    font-weight: 700;

    opacity: 0.5;
  }
}